<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
  <title>Tạo mới dự án</title>
</head>

<body onload="time()" class="app sidebar-mini rtl">
<main class="app-content" layout:fragment="content">
  <div class="app-title">
    <ul class="app-breadcrumb breadcrumb">
      <li class="breadcrumb-item">Danh sách dự án</li>
      <li class="breadcrumb-item"><a href="#">Thêm mới dự án</a></li>
    </ul>
  </div>
  <div class="row" >
    <div class="col-md-12">
      <div class="tile">
        <h3 class="tile-title">Tạo mới dự án</h3>
        <div class="tile-body">
          <form method="post" th:action="@{/project/add/employee}">
            <table class="table table-hover table-bordered js-copytextarea" id="sampleTable">
              <div class="form-group col-md-4">
                <label class="control-label">Danh sách nhân viên</label>
                <table>
                  <tbody>
                  <tr th:each="employee : ${selectedEmployees}">
                    <td>
                      <label>
                        <input type="checkbox" name="selectedEmployees" th:value="${employee.id}" />
                        <span th:text="${employee.firstname + ' ' + employee.lastname}"></span>
                      </label>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </table>

            <button type="submit">Gửi</button>
          </form>

          <a th:href="@{/project/show/employee}"><button>Xem Danh Sách Nhân Viên</button></a>

        </div>



      </div>
    </div>

  </div>

</main>

<script src="js/plugins/pace.min.js"></script>
</body>
</html>