<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>Quản trị dự án</title>
</head>

<main class="app-content" layout:fragment="content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item active"><a href="#"><b>Bảng Quản Lý Dự Án</b></a></li>
        </ul>
        <div id="clock"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="row element-button">
                        <div class="table-nav">

                            <a class="btn btn-add btn-sm" th:href="@{/project/create}" title="Thêm"><i class="fas fa-plus"></i>
                                Tạo mới</a>
                        </div>
                        <div class="table-nav">
                            <a class="btn btn-delete btn-sm nhapexperience_index.html-tu-file" type="button" title="Nhập" onclick="myFunction(this)"><i
                                    class="fas fa-file-upload"></i> Tải từ file</a>
                        </div>

                        <div class="table-nav">
                            <a class="btn btn-delete btn-sm print-file" type="button" title="In" onclick="myApp.printTable()"><i
                                    class="fas fa-print"></i> In dữ liệu</a>
                        </div>
                        <div class="table-nav">
                            <a class="btn btn-delete btn-sm print-file js-textareacopybtn" type="button" title="Sao chép"><i
                                    class="fas fa-copy"></i> Sao chép</a>
                        </div>
                        <div class="table-nav">
                            <a class="btn btn-delete btn-sm pdf-file" type="button" title="In" onclick="myFunction(this)"><i
                                    class="fas fa-file-pdf"></i> Xuất PDF</a>
                        </div>
                        <div class="table-nav">
                            <a class="btn btn-delete btn-sm" type="button" title="Xóa" onclick="myFunction(this)"><i
                                    class="fas fa-trash-alt"></i> Xóa tất cả </a>
                        </div>
                    </div>
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                        <tr>
                            <th width="10"><input type="checkbox" id="all"></th>
                            <th>id</th>
                            <th>Tên dự án</th>
                            <th>Link dự án</th>
                            <th>Ngôn ngữ sử dụng</th>
                            <th>Hệ điều hành</th>
                            <th>FrameWork sử dụng</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="pr : ${projects}">
                            <td width="10"><input type="checkbox" name="check1" value="1"></td>
                            <th th:text="${pr.getId()}"></th>
                            <td th:text="${pr.getNameProject()}"></td>
                            <td th:text="${pr.getLink()}"></td>
                            <td th:text="${pr.getLanguage()}"></td>
                            <td th:text="${pr.getOs()}"></td>
                            <td th:text="${pr.getFramework()}"></td>
                            <td><a th:href="@{/project/delete/{id}(id=${pr.id})}"><button class="btn btn-primary btn-sm trash" type="button" title="Xóa" ><i class="fas fa-trash-alt"></i></button></a>
                                <a th:href="@{/project/edit/{id}(id=${pr.id})}"><button class="btn btn-primary btn-sm edit" type="button" title="Sửa" ><i class="fa fa-edit"></i></button></a></td>
                            <a th:href="@{/project/detail/{id}(id=${pr.id})}"><button class="btn btn-primary btn-sm edit" type="button" title="Chi tiết" ><i class="fa fa-edit"></i></button></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>

</html>