<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>Chỉnh sửa dự án</title>
</head>

<main class="app-content" layout:fragment="content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item">Danh sách dự án</li>
            <li class="breadcrumb-item"><a href="#">Chỉnh sửa dự án</a></li>
        </ul>
    </div>
    <div class="row" >
        <div class="col-md-12">
            <div class="tile">
                <h3 class="tile-title">Chỉnh sửa dự án</h3>
                <div class="tile-body">
                    <form class="row" method="post" th:object="${projects}" th:action="@{/project/add}">
                        <div class="form-group  col-md-4">
                            <label class="control-label" >Tên dự án</label>
                            <input class="form-control" type="text" th:field="*{nameProject}">
                        </div>
                        <div class="form-group  col-md-4">
                            <label class="control-label" >Link dự án</label>
                            <input class="form-control" type="text" th:field="*{link}">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="exampleSelect1" class="control-label" >Ngôn ngữ sử dụng</label>
                            <select class="form-control" id="exampleSelect1" name="languages" multiple>
                                <option>-- Chọn tình trạng --</option>
                                <option>Java</option>
                                <option>Python</option>
                                <option>PHP</option>
                                <option>JavaScript</option>
                                <option>HTML</option>
                                <option>Css</option>
                                <option>C#</option>
                                <option>TypeScript</option>
                                <option>Ruby</option>
                                <option>Swift</option>
                            </select>
                        </div>
                        <div class="form-group  col-md-4">
                            <label class="control-label" >Hệ điều hành</label>
                            <input class="form-control" type="date" th:field="*{os}" >
                        </div>

                        <div class="form-group  col-md-4">
                            <label class="control-label">FrameWork sử dụng</label>
                            <textarea class="form-control" rows="4" th:field="*{framework}"></textarea>
                        </div>
                        <div class="form-group  col-md-4">
                            <label class="control-label">Nơi làm việc</label>
                            <textarea class="form-control" rows="4" th:field="*{workplace}"></textarea>
                        </div>
                        <div class="form-group  col-md-4">
                            <label class="control-label">Teamsize của dự án</label>
                            <textarea class="form-control" rows="4" th:field="*{teamSize}"></textarea>
                        </div>
                        <div class="form-group  col-md-4">
                            <label class="control-label">Chi phí của dự án</label>
                            <textarea class="form-control" rows="4" th:field="*{projectCost}"></textarea>
                        </div>
                        <div class="form-group  col-md-4">
                            <label class="control-label">Tài liệu sử dụng trong dự án</label>
                            <textarea class="form-control" rows="4" th:field="*{projectResources}"></textarea>
                        </div>
                        <div class="form-group  col-md-4">
                            <label class="control-label">Ngày bắt đầu dự án</label>
                            <textarea class="form-control" type="date" rows="4" th:field="*{startDate}"></textarea>
                        </div>
                        <div class="form-group  col-md-4">
                            <label class="control-label">Ngày kết thúc dự án</label>
                            <textarea class="form-control" type="date" rows="4" th:field="*{endDate}"></textarea>
                        </div>
                        <div class="form-group  col-md-4">
                            <label class="control-label">Mô tả về dự án</label>
                            <textarea class="form-control" rows="4" th:field="*{description}"></textarea>
                        </div>
                        <div class="form-group  col-md-4">
                            <label class="control-label">Pm của dự án</label>
                            <textarea class="form-control" rows="4" th:field="*{pm}"></textarea>
                        </div>
                        <button class="btn btn-save" type="submit" >Lưu lại</button>
                        <a class="btn btn-cancel" th:href="@{/project/detail}">Hủy bỏ</a>
                    </form>

                </div>

            </div>
        </div>

    </div>

</main>

</html>