<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/layout}">
<head>
    <title>Kỹ năng</title>

</head>
<main class="app-content" layout:fragment="content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item active"><a href="#"><b>Danh sách kĩ năng</b></a></li>
        </ul>
        <div id="clock"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="row element-button">
                        <div class="col-sm-2">
                            <a class="btn btn-add btn-sm" th:href="@{/skills/add}" title="Thêm"><i class="fas fa-plus"></i>
                                Tạo mới kĩ năng</a>
                        </div>
                        <div class="col-sm-2">
                            <a class="btn btn-delete btn-sm print-file" type="button" title="In" ><i
                                    class="fas fa-print"></i> In dữ liệu</a>
                        </div>
                        <div class="col-sm-2">
                            <a class="btn btn-delete btn-sm pdf-file" type="button" title="In" ><i
                                    class="fas fa-file-pdf"></i> Xuất PDF</a>
                        </div>
                    </div>
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên kĩ năng</th>
                            <th>Lever</th>
                            <th>Số năm kinh nghiệm </th>
                            <th>Số tháng kinh nghiệm</th>
                            <th>Mô tả</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="skill : ${skills}">
                            <td th:text="${skill.id}"></td>
                            <td> <a th:href="@{/skills/{id}(id=${skill.id})}" th:text="${skill.name}"></a></td>
                            <td th:text="${skill.level}"></td>
                            <td th:text="${skill.yearExperience}"></td>
                            <td th:text="${skill.monthExperience}"></td>
                            <td th:text="${skill.description}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
</html>