<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="slidebar">

    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" th:src="@{images}" width="50px"
                                            alt="User Image">
            <div>
                <p class="app-sidebar__user-name"><b th:text="${username}"></b></p>
                <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
            </div>
        </div>
        <hr>
        <ul class="app-menu">
            <li><a class="app-menu__item " th:href="@{/employees/search}"
                   th:classappend="${#httpServletRequest.getRequestURI() == '/employees/search' ? 'active' : ''}"><i
                    class='app-menu__icon bx bx-task'></i><span
                    class="app-menu__label">Tìm kiếm nhân viên</span></a></li>
            <li th:if="${isAdmin}">
                <a class="app-menu__item haha" th:href="@{/home}"><i
                        class='app-menu__icon bx bx-cart-alt'></i>
                    <span class="app-menu__label">DashBoard</span></a></li>
            <li th:if="${isAdmin}">
                <a class="app-menu__item" th:href="@{/department/detail}"
                   th:classappend="${#httpServletRequest.getRequestURI() == '/department/detail' ? 'active' : ''}">
                    <i class='app-menu__icon bx bx-tachometer'></i>
                    <span class="app-menu__label">Quản Lý Phòng Ban</span>
                </a>
            </li>
            <li th:if="${isAdmin}">
                <a class="app-menu__item " th:href="@{/employees/index}"
                   th:classappend="${#httpServletRequest.getRequestURI() == '/employees/index' ? 'active' : ''}">
                    <i class='app-menu__icon bx bx-id-card'></i>
                    <span class="app-menu__label">Quản Lý Nhân Viên</span>
                </a>
            </li>
            <li th:if="${isAdmin}">
                <a class="app-menu__item" th:href="@{/project/detail}"
                   th:classappend="${#httpServletRequest.getRequestURI() == '/project/detail' ? 'active' : ''}"><i
                        class='app-menu__icon bx bx-user-voice'></i><span
                        class="app-menu__label">Quản Lý Dự Án</span></a></li>
            <li class="dropdown" th:unless="${isAdmin}">
                <a href="#" class="app-menu__item dropdown-toggle" data-toggle="dropdown"
                   onclick="toggleDropdown(this)">
                    <i class="app-menu__icon bx bx-id-card"></i>
                    <span class="app-menu__label">Thông tin nhân viên</span>
                </a>
                <ul class="dropdown-menu" id="dropdownMenu">
                    <li>
                        <a class="dropdown-item app-menu__item" th:href="@{/employees/edit}"
                           th:classappend="${#httpServletRequest.getRequestURI() == '/employees/edit' ? 'active' : ''}">
                            <i class='app-menu__icon bx bx-id-card'></i>
                            <span class="app-menu__label">Quản lý thông tin</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item app-menu__item" th:href="@{/experience/detail}"
                           th:classappend="${#httpServletRequest.getRequestURI() == '/experience/detail' ? 'active' : ''}"><i
                                class='app-menu__icon bx bx-purchase-tag-alt'></i><span
                                class="app-menu__label">Quản Lý Kinh Nghiệm</span></a></li>
                    <li>
                        <a class="dropdown-item app-menu__item" th:href="@{/skills/index}"
                           th:classappend="${#httpServletRequest.getRequestURI() == '/skills/index' ? 'active' : ''}"><i
                                class='app-menu__icon bx bx-user-voice'></i><span
                                class="app-menu__label">Quản Lý Kỹ Năng</span></a></li>
                    <li>
                        <a class="dropdown-item app-menu__item" th:href="@{/certificates/index}"
                           th:classappend="${#httpServletRequest.getRequestURI() == '/certificates/index' ? 'active' : ''}"><i
                                class='app-menu__icon bx bx-purchase-tag-alt'></i><span
                                class="app-menu__label">Quản Lý Chứng Chỉ</span></a>
                    </li>
                    <li>
                        <a class="dropdown-item app-menu__item" th:href="@{/employees/detail}"
                           th:classappend="${#httpServletRequest.getRequestURI() == '/employees/detail' ? 'active' : ''}"><i
                                class='app-menu__icon bx bx-run'></i><span
                                class="app-menu__label">Profile</span></a>
                    </li>
                </ul>
            </li>
        </ul>
    </aside>
</div>
<script>
    var isDropdownOpen = false;

    function toggleDropdown(link) {
        // Ngăn chặn hành vi mặc định của liên kết (chuyển trang)
        event.preventDefault();

        // Lấy thẻ ul chứa dropdown menu
        var dropdownMenu = document.getElementById("dropdownMenu");

        // Thay đổi trạng thái mở/đóng dropdown
        if (isDropdownOpen) {
            dropdownMenu.style.display = "none";
        } else {
            dropdownMenu.style.display = "block";
        }
        isDropdownOpen = !isDropdownOpen;
    }
</script>
</body>
</html>