<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="slidebar">

    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" th:src="@{../image/1.png}" width="50px"
                                            alt="User Image">
            <div>
                <p class="app-sidebar__user-name"><b>Võ Trường</b></p>
                <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
            </div>
        </div>
        <hr>
        <ul class="app-menu">
            <li><a class="app-menu__item haha" th:href="@{/employees/employee_search.html}"><i
                    class='app-menu__icon bx bx-cart-alt'></i>
                <span class="app-menu__label">Tìm kiếm nhân viên</span></a></li>
            <li><a class="app-menu__item " th:href="@{//index}"><i class='app-menu__icon bx bx-tachometer'></i><span
                    class="app-menu__label">Bảng điều khiển</span></a></li>
            <li><a class="app-menu__item " th:href="@{/employees/index}"><i class='app-menu__icon bx bx-id-card'></i>
                <span class="app-menu__label">Quản lý nhân viên</span></a></li>
            <li><a class="app-menu__item" ><i class='app-menu__icon bx bx-user-voice'></i><span
                    class="app-menu__label">Quản lý phòng ban</span></a></li>
            <li><a class="app-menu__item" th:href="@{/certificates/index}"><i
                    class='app-menu__icon bx bx-purchase-tag-alt'></i><span
                    class="app-menu__label">Quản lý chứng chỉ</span></a>
            <li><a class="app-menu__item" th:href="@{/project/detail}"><i class='app-menu__icon bx bx-user-voice'></i><span
                    class="app-menu__label">Quản lý dự án</span></a></li>
            <li><a class="app-menu__item"  ><i
                    class='app-menu__icon bx bx-purchase-tag-alt'></i><span class="app-menu__label">Quản lý sản phẩm</span></a>
            </li>
            <li><a class="app-menu__item " href="table-data-oder.html"><i class='app-menu__icon bx bx-task'></i><span
                    class="app-menu__label">Quản lý kĩ năng</span></a></li>
            <li><a class="app-menu__item active" href="table-data-banned.html"><i
                    class='app-menu__icon bx bx-run'></i><span
                    class="app-menu__label">Quản lý nội bộ
          </span></a></li>
            <li><a class="app-menu__item" href="table-data-money.html"><i class='app-menu__icon bx bx-dollar'></i><span
                    class="app-menu__label">Bảng kê lương</span></a></li>
            <li><a class="app-menu__item" href="quan-ly-bao-cao.html"><i
                    class='app-menu__icon bx bx-pie-chart-alt-2'></i><span
                    class="app-menu__label">Báo cáo doanh thu</span></a>
            </li>
            <li><a class="app-menu__item" href="page-calendar.html"><i
                    class='app-menu__icon bx bx-calendar-check'></i><span
                    class="app-menu__label">Lịch công tác </span></a></li>
            <li><a class="app-menu__item" href="#"><i class='app-menu__icon bx bx-cog'></i><span
                    class="app-menu__label">Cài
            đặt hệ thống</span></a></li>
        </ul>
    </aside>
</div>
</body>
</html>