<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <title>Chi tiết kinh nghiệm</title>
</head>


<main class="app-content" layout:fragment="content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item active"><a href="#"><b>Bảng Quản Lý Kinh nghiệm</b></a></li>
        </ul>
        <div id="clock"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="row element-button">
                        <div class="col-sm-2">

                            <a class="btn btn-add btn-sm" th:href="@{/experience/create}" title="Thêm"><i class="fas fa-plus"></i>
                                Tạo mới</a>
                        </div>
                        <div class="col-sm-2">
                            <a class="btn btn-delete btn-sm nhap-tu-file" type="button" title="Nhập" onclick="myFunction(this)"><i
                                    class="fas fa-file-upload"></i> Tải từ file</a>
                        </div>

                        <div class="col-sm-2">
                            <a class="btn btn-delete btn-sm print-file" type="button" title="In" onclick="myApp.printTable()"><i
                                    class="fas fa-print"></i> In dữ liệu</a>
                        </div>
                        <div class="col-sm-2">
                            <a class="btn btn-delete btn-sm print-file js-textareacopybtn" type="button" title="Sao chép"><i
                                    class="fas fa-copy"></i> Sao chép</a>
                        </div>

                        <div class="col-sm-2">
                            <a class="btn btn-excel btn-sm" href="" title="In"><i class="fas fa-file-excel"></i> Xuất Excel</a>
                        </div>
                        <div class="col-sm-2">
                            <a class="btn btn-delete btn-sm pdf-file" type="button" title="In" onclick="myFunction(this)"><i
                                    class="fas fa-file-pdf"></i> Xuất PDF</a>
                        </div>
                        <div class="col-sm-2">
                            <a class="btn btn-delete btn-sm" type="button" title="Xóa" onclick="myFunction(this)"><i
                                    class="fas fa-trash-alt"></i> Xóa tất cả </a>
                        </div>
                    </div>
                    <table class="table table-hover table-bordered" id="sampleTable">
                        <thead>
                        <tr>
                            <th width="10"><input type="checkbox" id="all"></th>
                            <th>id</th>
                            <th>Tên kinh nghiệm</th>
                            <th>Thời gian bắt đầu</th>
                            <th>Thời gian kết thúc</th>
                            <th>Ngôn ngữ</th>
                            <th>Hệ điều hành</th>
                            <th>Framework</th>
                            <th>Link</th>
                            <th>Nơi làm việc</th>
                            <th>Vị trí</th>
                            <th>Teamsize</th>
                            <th>Mô tả</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="experience : ${experiences}">
                            <td width="10"><input type="checkbox" name="check1" value="1"></td>
                            <th th:text="${experience.getId()}"></th>
                            <td th:text="${experience.getName_experience()}"></td>
                            <td th:text="${experience.getTimeStart()}"></td>
                            <td th:text="${experience.getTimeEnd()}"></td>
                            <td th:text="${experience.getLanguage()}"></td>
                            <td th:text="${experience.getOs()}"></td>
                            <td th:text="${experience.getFramework()}"></td>
                            <td th:text="${experience.getLink()}"></td>
                            <td th:text="${experience.getWorkplace()}"></td>
                            <td th:text="${experience.getPosition()}"></td>
                            <td th:text="${experience.getTeamSize()}"></td>
                            <td th:text="${experience.getDescription()}"></td>
                            <td><a th:href="@{/department/delete/{id}(id=${experience.id})}"><button class="btn btn-primary btn-sm trash" type="button" title="Xóa" ><i class="fas fa-trash-alt"></i></button></a>
                                <a th:href="@{/department/edit/{id}(id=${experience.id})}"><button class="btn btn-primary btn-sm edit" type="button" title="Sửa" ><i class="fa fa-edit"></i></button></a></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>


</html>