<!DOCTYPE html>
<html layout:decorate="~{layout/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Dashboard </title>
</head>
<main class="app-content" layout:fragment="content">
    <div class="db-title">Dashboard</div>
    <div class="">
        <!--Left-->
        <div class="">
            <div class="row">
                <!-- col-6 -->
                <div class="row-item">
                    <div class="widget-small primary coloured-icon"><i class='icon bx bxs-user-account fa-3x'></i>
                        <div class="info">
                            <h4>Tổng số nhân viên</h4>
                            <p><b th:text="${coutEmployee} + ' nhân viên'"></b></p>
                            <p class="info-tong">Tổng số nhân viên được quản lý.</p>
                        </div>
                    </div>
                </div>
                <!-- col-6 -->
                <div class="row-item">
                    <div class="widget-small info coloured-icon"><i class='icon bx bxs-data fa-3x'></i>
                        <div class="info">
                            <h4>Tổng số phòng ban</h4>
                            <p><b th:text="${countDepartment} + ' phòng ban'"></b></p>
                            <p class="info-tong">Tổng số phòng ban trong công ty.</p>
                        </div>
                    </div>
                </div>
                <!-- col-6 -->
                <div class="row-item">
                    <div class="widget-small warning coloured-icon"><i class='icon bx bxs-shopping-bags fa-3x'></i>
                        <div class="info">
                            <h4>Dự án</h4>
                            <p><b th:text="${countProject} + ' dự án'"></b></p>
                            <p class="info-tong">Tổng số dự án đã và đang thực hiện.</p>
                        </div>
                    </div>
                </div>
                <!-- col-6 -->
                <div class="row-item">
                    <div class="widget-small danger coloured-icon"><i class='icon bx bxs-error-alt fa-3x'></i>
                        <div class="info">
                            <h4>Quản lý</h4>
                            <p><b th:text="${countPm} + ' quản lý'"></b></p>
                            <p class="info-tong">Số cán bộ quản lý trong công ty.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--END left-->
        <!--Right-->

    </div>
    <div class="db-title">Chart</div>
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item active"><a href="#"><b>Biểu đồ tỷ lệ các ngôn ngữ được sử dụng trong công ty</b></a></li>
        </ul>
        <div id="clock"></div>
    </div>
    <!--    <h6>Biểu đồ tỷ lệ các ngôn ngữ được sử dụng trong công ty</h6>-->

    <!--END right-->
    <div class="chart">
        <canvas style="height: 395px;" id="languageChart"></canvas>
    </div>

    <!-- Script để vẽ biểu đồ -->
    <script th:inline="javascript">
        const languageData = /*[[${languageData}]]*/;
        const labels = languageData.map(item => item.name);
        const data = languageData.map(item => item.languageUsageCount);

        const backgroundColor = [
            '#FF6384',
            '#36A2EB',
            '#FFCE56',
            '#E9573F',
            '#00A388',
            '#8DB646',
            '#9F4D95',
            '#40A9D4',
            '#A46582',
            '#ECA527'
        ];
    </script>

    <script type="text/javascript" src="../../static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../static/js/popper.min.js"></script>
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <script type="text/javascript" src="../../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../static/js/main.js"></script>
    <script type="text/javascript" src="../../static/js/plugins/pace.min.js"></script>
    <script type="text/javascript" src="../../static/js/plugins/chart.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chartjs-plugin-doughnutlabel"></script>

    <script type="text/javascript">
        const chartData = {
            labels: labels,
            datasets: [{
                data: data,
                backgroundColor: backgroundColor,
            }]
        };

        const options = {
            maintainAspectRatio: false,
            // Các tùy chọn khác cho biểu đồ (nếu cần)
        };

        // Vẽ biểu đồ khi trang đã tải xong
        document.addEventListener("DOMContentLoaded", function () {
            const ctx = document.getElementById('languageChart').getContext('2d');
            const languageChart = new Chart(ctx, {
                type: 'doughnut',
                data: chartData,
                options: options,
            });
        });
    </script>
</main>
</html>
