<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body onload="time()" class="app sidebar-mini rtl" layout:fragment="content">
    <main class="app-content" >
        <div class="app-title">
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item active"><a href=""><b>Danh sách nhân viên</b></a></li>
            </ul>
            <div id="clock"></div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <div class="row element-button">
                            <div class="col-sm-2">
                                <a class="btn btn-add btn-sm" th:href="@{/employees/add}" title="Thêm"><i class="fas fa-plus"></i>
                                    Tạo mới nhân viên</a>
                            </div>
                            <div class="col-sm-2">
                                <a class="btn btn-delete btn-sm print-file" type="button" title="In" onclick=""><i
                                        class="fas fa-print"></i> In dữ liệu</a>
                            </div>
                            <div class="col-sm-2">
                                <a class="btn btn-delete btn-sm pdf-file" type="button" title="In" ><i
                                        class="fas fa-file-pdf"></i> Xuất PDF</a>
                            </div>
                        </div>
                        <div class="input-group">
                            <form class="search-bar" method="get" th:action="@{/employees/index}">
                                <input type="text" class="form-control" placeholder="Tìm kiếm nhân viên" id="searchInput" name="textSearch">
                                <button class="btn btn-primary" type="submit" id="searchButton">Tìm</button>
                            </form>
                        </div>
                        <!-- Employee table -->
                        <table class="table table-hover table-bordered js-copytextarea" id="sampleTable">
                            <thead>
                            <tr>
                                <th style="width: 10px"><input type="checkbox" id="all"></th>
                                <th>ID nhân viên</th>
                                <th style="width: 150px">Họ và tên</th>
                                <th>Ảnh thẻ</th>
                                <th style="width: 300px">Địa chỉ</th>
                                <th>Ngày sinh</th>
                                <th>Giới tính</th>
                                <th>SĐT</th>
                                <th>Chức vụ</th>
                                <th style="width: 100px">Tính năng</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="employee : ${employees}">
                                <td><input type="checkbox" name="check1" value="1"></td>
                                <td th:text="${employee.employeeCode}"></td>
                                <td th:text="${employee.firstname + ' ' + employee.lastname}"></td>
                                <td><img class="img-card-person" th:src="@{'../image' + ${employee.imgUrl}}" alt=""></td>
                                <td th:text="${employee.address}"></td>
                                <td th:text="${#dates.format(employee.dateOfBirth, 'dd/MM/yyyy')}"></td>
                                <td>
                                    <span th:if="${employee.sex == 0}">Nam</span>
                                    <span th:if="${employee.sex == 1}">Nữ</span>
                                </td>
                                <td th:text="${employee.phone}"></td>
                                <td th:text="${employee.position}">Bán hàng</td>
                                <td class="table-td-center">
                                    <a class="btn btn-primary btn-sm trash" type="button" title="Xóa" onclick="myFunction()" th:href="@{/employees/delete/{id}(id=${employee.id})}">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                    <a class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp"
                                       th:href="@{/employees/edit/{id}(id=${employee.id})}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <a th:if="${employees.hasPrevious()}" th:href="@{/employees/index(page=${employees.previousPageable().pageNumber})}">
                            Previous
                        </a>
                        <a th:if="${employees.hasNext()}" th:href="@{/employees/index(page=${employees.nextPageable().pageNumber})}">
                            Next
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>

<script>
    function time() {
        var today = new Date();
        var weekday = new Array(7);
        weekday[0] = "Chủ Nhật";
        weekday[1] = "Thứ Hai";
        weekday[2] = "Thứ Ba";
        weekday[3] = "Thứ Tư";
        weekday[4] = "Thứ Năm";
        weekday[5] = "Thứ Sáu";
        weekday[6] = "Thứ Bảy";
        var day = weekday[today.getDay()];
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        nowTime = h + " giờ " + m + " phút " + s + " giây";
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        today = day + ', ' + dd + '/' + mm + '/' + yyyy;
        tmp = '<span class="date"> ' + today + ' - ' + nowTime +
            '</span>';
        document.getElementById("clock").innerHTML = tmp;
        clocktime = setTimeout("time()", "1000", "Javascript");

        function checkTime(i) {
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }
    }
    //In dữ liệu
    var myApp = new function () {
        this.printTable = function () {
            var tab = document.getElementById('sampleTable');
            var win = window.open('', '', 'height=700,width=700');
            win.document.write(tab.outerHTML);
            win.document.close();
            win.print();
        }
    }
    function deleteRow(r) {
        var i = r.parentNode.parentNode.rowIndex;
        document.getElementById("myTable").deleteRow(i);
    }
    jQuery(function () {
        jQuery(".trash").click(function () {
            swal({
                title: "Cảnh báo",

                text: "Bạn có chắc chắn là muốn xóa nhân viên này?",
                buttons: ["Hủy bỏ", "Đồng ý"],
            })
                .then((willDelete) => {
                    if (willDelete) {
                        swal("Đã xóa thành công.!", {

                        });
                    }
                });
        });
    });
    oTable = $('#sampleTable').dataTable();
    $('#all').click(function (e) {
        $('#sampleTable tbody :checkbox').prop('checked', $(this).is(':checked'));
        e.stopImmediatePropagation();
    });
</script>
</body>
</html>