<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body onload="time()" class="app sidebar-mini rtl" layout:fragment="content">
<div>
    <main class="app-content" >
        <div class="app-title">
            <ul class="app-breadcrumb breadcrumb side">
                <li class="breadcrumb-item active"><a href=""><b>Danh sách nhân viên</b></a></li>
            </ul>
            <div id="clock"></div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <div class="tile-body">
                        <div class="row element-button">
                            <div class="col-sm-2">
                                <a class="btn btn-add btn-sm" th:href="@{/templates/employees/create.html}" title="Thêm"><i class="fas fa-plus"></i>
                                    Tạo mới nhân viên</a>
                            </div>
                            <div class="col-sm-2">
                                <a class="btn btn-delete btn-sm print-file" type="button" title="In" ><i
                                        class="fas fa-print"></i> In dữ liệu</a>
                            </div>
                            <div class="col-sm-2">
                                <a class="btn btn-delete btn-sm pdf-file" type="button" title="In" ><i
                                        class="fas fa-file-pdf"></i> Xuất PDF</a>
                            </div>
                        </div>

                        <!-- Employee table -->
                        <table class="table table-hover table-bordered js-copytextarea" cellpadding="0" cellspacing="0" border="0"
                               id="sampleTable">
                            <thead>
                            <tr>
                                <th style="width: 10px" ><input type="checkbox" id="all"></th>
                                <th>ID nhân viên</th>
                                <th style="width: 150px" >Họ và tên</th>
                                <th >Ảnh thẻ</th>
                                <th style="width: 300px">Địa chỉ</th>
                                <th>Ngày sinh</th>
                                <th>Giới tính</th>
                                <th>SĐT</th>
                                <th>Chức vụ</th>
                                <th style="width: 100px">Tính năng</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- Replace this with Thymeleaf loop -->
                            <tr th:each="employee : ${employees}">
                                <td width="10"><input type="checkbox" name="check1" value="1"></td>
                                <td th:text="${employee.employeeCode}"></td>
                                <td th:text="${employee.firstname} + ${employee.lastname}" ></td>
                                <td><img class="img-card-person" th:src="@{'../image' + ${employee.imgUrl}}" alt=""></td>
                                <td th:text="${employee.address}"></td>
                                <td th:date="${employee.dateOfBirth}"></td>
                                <td th:text="${employee.sex}"></td>
                                <td th:text="${employee.phone}"></td>
                                <td th:text="${employee.position}">Bán hàng</td>
                                <td class="table-td-center">
                                    <!-- Edit and delete buttons -->
                                    <a class="btn btn-primary btn-sm trash" type="button" title="Xóa" th:href="@{/employees/delete/{id}(id=${employee.id})}">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                    <a class="btn btn-primary btn-sm edit" type="button" title="Sửa" id="show-emp"
                                       th:href="@{/employees/edit/{id}(id=${employee.id})}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
<!-- Essential javascripts for application to work-->

<script>
    function time() {
        var today = new Date();
        var weekday = new Array(7);
        weekday[0] = "Chủ Nhật";
        weekday[1] = "Thứ Hai";
        weekday[2] = "Thứ Ba";
        weekday[3] = "Thứ Tư";
        weekday[4] = "Thứ Năm";
        weekday[5] = "Thứ Sáu";
        weekday[6] = "Thứ Bảy";
        var day = weekday[today.getDay()];
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        nowTime = h + " giờ " + m + " phút " + s + " giây";
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        today = day + ', ' + dd + '/' + mm + '/' + yyyy;
        tmp = '<span class="date"> ' + today + ' - ' + nowTime +
            '</span>';
        document.getElementById("clock").innerHTML = tmp;
        clocktime = setTimeout("time()", "1000", "Javascript");

        function checkTime(i) {
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }
    }
    //In dữ liệu
    var myApp = new function () {
        this.printTable = function () {
            var tab = document.getElementById('sampleTable');
            var win = window.open('', '', 'height=700,width=700');
            win.document.write(tab.outerHTML);
            win.document.close();
            win.print();
        }
    }
</script>
</body>
</html>